.App{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: 50px;
  border: 1px solid red;
}

.Result{
  margin-left: 25px;
  height: 30px;
  width: 40px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
